.root {
    -fx-background-color: "#212121";
}

/* Stil für die beiden ListViews */
.list-view {
    -fx-background-color: beige;
    -fx-border-color: #6e2c2c;
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
    -fx-padding: 5px;
}
.arrowButtons{
    -fx-background-color: #6e2c2c; /* Dunkles Braun */
    -fx-text-fill: white;
    -fx-border-radius: 5px;
    -fx-border-color: beige;
    -fx-border-width: 2px;
}
/* Stil für die Buttons */
.gameButtons {
    -fx-background-color: #6e2c2c; /* Dunkles Braun */
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-border-radius: 5px;
    -fx-border-color: beige;
    -fx-border-width: 2px;
}

/* Hover-Effekt für die Buttons */
.arrowButtons:hover {
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 10, 0.5, 0, 0);
    -fx-background-color: #854141; /* Etwas helleres Braun für Hover */
}
.gameButtons:hover {
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 10, 0.5, 0, 0);
    -fx-background-color: #854141; /* Etwas helleres Braun für Hover */
}
.gameToggleButtons {
    -fx-background-color: #6e2c2c; /* Dunkles Braun */
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-border-radius: 5px;
    -fx-border-color: beige;
    -fx-border-width: 2px;
}

.gameToggleButtons:hover {
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 10, 0.5, 0, 0);
    -fx-background-color: #854141; /* Etwas helleres Braun für Hover */
}

/* Stil für den ausgewählten Zustand */
.gameToggleButtons:selected {
    -fx-background-color: #854141; /* Etwas helleres Braun für den ausgewählten Zustand */
    -fx-border-color: gold; /* Goldener Rahmen */
    -fx-border-width: 3px; /* Etwas dickerer Rahmen */
    -fx-effect: dropshadow(gaussian, rgba(255, 223, 0, 0.5), 15, 0.5, 0, 0); /* Goldener Glow */
}

/* Kleiner Button unten links */
.smallButton {
    -fx-background-color: #6e2c2c; /* Dunkles Braun */
    -fx-text-fill: white;
    -fx-border-radius: 3px;
    -fx-border-color: beige;
    -fx-border-width: 1.5px;
}

/* Hover-Effekt für den kleinen Button */
.smallButton:hover {
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 8, 0.5, 0, 0);
    -fx-background-color: #854141; /* Etwas helleres Braun für Hover */
}
/* White Block */
.white {
    -fx-background-color: beige;
}
/* Black Block */
.black {
    -fx-background-color: #6e2c2c; /* Dunkles Braun */
}